*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Bree Serif', serif;
    box-sizing: border-box;
}
body{
    background: rgb(225, 225, 225);
}
.header{
    width: 100%;
    height: 80px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo{
    font-size: 28px;
    color: aliceblue;
    font-weight: bold;
}
.hamburger{
    display: none;
}
.nav-bar ul{
    display: flex;
}
.nav-bar ul li a{
    text-transform: uppercase;
    display: block;
    color: aliceblue;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}
.nav-bar ul li a:hover{
    color: black;
    background: white;
}
.nav-bar ul li a.active {
    color: black;
    background: white;
}
.foot{
    
    width: 100%;
    height: 20%;
    background-color: rgb(48, 46, 46);
    text-align: center;
    font-size: 25px;
    padding-bottom: 137px;
    color: rgb(175, 178, 181);
}


.container-2 {
    padding-block: 10px;
    width: 100%;
    text-align: center;
}
.container-2-1{
    display: block;
    justify-content: center;
 }
 #search{
    width: 50%;
    height: 40px;
    border-radius: 5px;
    border-style: none;
    padding: 10px;
}
#btn{
    background: none;
    border: none;
}
.fa-search {
    font-size: 30px;
    height: 40px;
    cursor: pointer;
    vertical-align: sub;
}
.fa-cart-arrow-down{
    font-size: 30px;
    vertical-align: sub;
    padding-left: 10%;
}

/*_______________________*/

#products img{
    width: 140px;
}

#products{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
/*_______________________*/

.foot-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    padding-top: 2%;
}
.contect-a {
    padding-right: 5%;
    font-size: small;
}
.container{
    width: 90%;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}
@media only screen and (max-width:920px){
    header{
        padding: 0 30px;
    }
    .header {
        padding: 0 30px;
    }
    .hamburger{
        display: block;
        cursor: pointer;
    }
    .hamburger .line{
        width: 40px;
        height: 5px;
        background: white;
        margin: 8px 0;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: black;
        transition: 0.2s;
        overflow: hidden;
    }
    .nav-bar.active{
        height: 450px;
    }
    .nav-bar.active ul{
        opacity: 1;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }
    .foot-container{
        display: block;
    }
    .contect-a{
        padding-bottom: 30px;
    }
    .container {
        width: auto;
        margin: auto;
        transition: 0.5s;
    }
    .foot{
        width: 100%;
        height: 20%;
        background-color: rgb(48, 46, 46);
        text-align: center;
        font-size: 25px;
        padding-bottom: 8px;
        color: rgb(175, 178, 181);
    }
}